@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.centered-container-outer {
  position: relative;
}

.centered-container-outer--grey {
  background-color: $background-primary;
}

.centered-container-outer--white {
  background-color: #FFF;
}

.centered-container-inner {
  max-width: 1150px;
  width: 100%;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.centered-container-inner--standard {
  padding: 80px;

  @include breakpoint($small-breakpoint) {
    padding: 60px 15px;
  }
}

.centered-container-inner--nonstandard {
  padding: 0;
}

.centered-container-inner--horizontal {
  flex-direction: row;
}

.centered-container-inner--vertical {
  flex-flow: column nowrap;
}

.centered-container-inner--transparent {
  h1, h2, h3 {
    color: $text-primary;
  }
}

.centered-container-inner--grey {
  background-color: $background-primary;

  h1, h2, h3 {
    color: $text-primary !important;
  }
}

.centered-container-inner--dark-grey {
  background-color: $background-secondary;

  h1, h2, h3 {
    color: #FFF !important;
  }
}

.centered-container-inner--white {
  background-color: #FFF;

  h1, h2, h3 {
    color: $text-primary !important;
  }
}

.centered-container-inner--accent {
  border-top: solid 4px $accent-primary;
}
