@import '../../../../stylesheets/variables';
@import '../../../../stylesheets/mixins';

.step-tracker {
  width: 20px;
  position: absolute;

  &.left {
    left: 50px;
    top: 0px;
  }

  &.right {
    right: 50px;
    bottom: -80px;
  }
}

.connecting-line-horizontal {
  width: 100%;
  height: 2px;
  background-color: $background-primary;
  position: relative;
}

.connecting-line-progress-horizontal {
  content: '';
  width: 0;
  position: absolute;
  background-color: $accent-primary;
  height: 100%;
  top: 0;
  left: 0;
}

.connecting-line {
  flex-grow: 2;
  width: 2px;
  margin: 0 auto;
  background-color: $background-primary;
  position: relative;

  &.first-vertical {
    height: 635px;
  }

  &.second-vertical {
    height: 563px;
  }

  &.third-vertical {
    height: 111px;
  }

  &.fourth-vertical {
    height: 880px;
  }
}

.connecting-line-progress {
  content: '';
  width: 100%;
  position: absolute;
  background-color: $accent-primary;
  height: 0%;
  top: 0;
  left: 0;
}
