@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';


.binary-text {
  height: $font-size-primary;

  @include breakpoint($small-breakpoint) {
    height: auto;
    margin-bottom: 0;
  }
}

.binary-text__letter {
  font-size: inherit;
  margin: 0 0 10px 0;
  line-height: inherit;
  letter-spacing: 0.035em;
  text-transform: uppercase;

  @include breakpoint($small-breakpoint) {
    letter-spacing: 0;
    line-height: 1;
    font-size: 45px;
  }
}
