@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';


.binary-text {
  white-space: pre;
  word-break: break-all;
  width: 100%;
}

.binary-word:not(:last-child) {
  margin-right: 0.2em;
}

.binary-text__letter {
  position: relative;
  display: inline-block;
  color: transparent;

  &.state-1 {
    &:before {
      color: rgba(#FFF, 0.3);
      content: '0';
    }
  }

  &.state-2 {
    color: rgba(#FFF, 0.2);

    &:before {
      color: rgba(#FFF, 0.6);
      content: '1';
    }
  }

  &.state-3 {
    color: inherit;

    &:before {
      content: '';
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    // background: #FFF;
    width: 0.3em;
    height: 1em;
    transform: translate(-50%,-55%);
  }

  &.binary-text__letter--inverted {
    &.state-1 {
      &:before {
        color: rgba($background-secondary, 0.3);
      }
    }

    &.state-2 {
      color: rgba($background-secondary, 0.2);

      &:before {
        color: rgba($background-secondary, 0.6);
      }
    }
  }
}
