@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';


.binary-text {
  height: 77px;

  @include breakpoint($small-breakpoint) {
    height: auto;
    margin-bottom: 0;
  }
}

.binary-text__letter {
  font-size: $font-size-primary;
  margin: 0 0 10px 0;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include breakpoint($small-breakpoint) {
    letter-spacing: 0;
    line-height: 1;
    font-size: 45px;
  }
}
