.content-button {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  transition: transform 475ms cubic-bezier(0.52, 0.01, 0.16, 1);
}

.content-button h1,
.content-button h2,
.content-button h3 {
  color: #21262d;
}

.content-button:hover {
  transform: scale(1.05);
}

.content {
  background-color: #FFF;
  position: relative;
  z-index: 100;
}

.image {
  position: relative;
  height: 300px;
}
