@import '../../../stylesheets/variables';

.connecting-line-horizontal {
  width: 100%;
  height: 2px;
  background-color: $background-primary;
  position: relative;
}

.connecting-line-progress-horizontal {
  content: '';
  width: 0;
  position: absolute;
  background-color: $accent-primary;
  height: 100%;
  top: 0;
  left: 0;
}
