@import '../../../../stylesheets/variables';

.timeline-progress-bar {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  margin: 0 auto;
  top: 0;
  display: flex;
  flex-direction: column;

  .connecting-line {
    background-color: #FFF;
  }

  .first-line {
    flex: 0 0 250px;
  }

  .last-line {
    flex: 0 0 390px;
  }
}
