@import '../../../../stylesheets/variables';
@import '../../../../stylesheets/mixins';

.timeline-progress-bar {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  width: 20px;
  margin: 0 auto;
  top: -65px;
  bottom: 0;
  display: flex;
  flex-direction: column;

  @include breakpoint($small-breakpoint) {
    display: none;
  }

  .connecting-line {
    background-color: #FFF;
  }

  & .first {
    flex: 0 0 9%;

    @include breakpoint($small-breakpoint) {
      flex: 0 0 14.5%;
    }
  }

  & .second {
    flex: 0 0 500px;
  }

  & .third {
    flex: 0 0 660px;
  }

  & .fourth {
    flex: 0 0 550px;
  }

  & .fifth {
    flex: 0 0 575px;
  }
}
