@import '../../../../stylesheets/variables';
@import '../../../../stylesheets/mixins';

.work-item {
  position: relative;
  padding: 25px;
  background: #FFF;
  background-color: #FFF;
  width: 100%;
  display: flex;
  height: 400px;
  z-index: 500;

  @include breakpoint($small-breakpoint) {
    flex-direction: column !important;
    height: auto;
    padding: 25px 20px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 8px;
    width: 0;
    background-color: $accent-primary;
    left: -30px;
    top: 50px;
    z-index: 110;
    @include transition-property (width);
    transition-delay: 400ms;

    @include breakpoint($small-breakpoint) {
      display: none;
    }
  }

  &.active {
    &:before {
      width: 120px;
    }
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 25px;
  }
}

.work-flex-item {
  margin-bottom: 120px;

  &:last-child {
    margin-bottom: -50px;
  }

  &:nth-child(even) {
    align-self: flex-end;

    .work-item {
      flex-direction: row-reverse;

      &:after {
        left: 0;
        right: auto;
      }

      &:before {
        right: -30px;
        left: auto;
      }
    }

    .work-details {
      padding-right: 50px;
      padding-left: 25px;

      @include breakpoint($small-breakpoint) {
        padding: 0;
      }
    }

    .button {
      left: 50px;
    }
  }
}

.work-item-image {
  width: 40%;
  max-width: 550px;
  margin-top: -60px;
  background-color: #FFF;
  margin-left: 1px;
  margin-right: 1px;
  flex-grow: 2;
  overflow: hidden;
  position: relative;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    margin-bottom: 25px
  }
}

.work-note {
  font-family: $league-gothic;
  text-transform: uppercase;
  color: $text-secondary;
}

.work-details {
  color: #FFF;
  padding: 25px 25px 25px 50px;
  text-align: left;
  flex-shrink: 2;
  position: relative;
  width: 50%;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    padding: 0;
  }
}

.work-company {
  font-family: $league-gothic;
  text-transform: uppercase;
  font-size: $font-size-tertiary;
  line-height: $font-size-tertiary;
  color: $text-primary;
}
