@import '../../../../stylesheets/variables';
@import '../../../../stylesheets/mixins';

.work-item {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 500;

  > div {
    flex: 1 1 50%;
  }

  @include breakpoint($small-breakpoint) {
    flex-direction: column !important;
    height: auto;
    padding: 25px 20px;
  }

  .button {
    position: absolute;
    bottom: 0;
    left: 25px;
  }
}

.work-item-accent {
  position: absolute;
  height: 8px;
  width: 120px;
  background-color: $accent-primary;
  left: -30px;
  top: 50px;
  z-index: 10000;

  @include breakpoint($small-breakpoint) {
    display: none;
  }
}

.work-flex-item {
  margin-bottom: 120px;
  position: relative;

  @include breakpoint($small-breakpoint) {
    margin-bottom: 0px;
  }

  .work-details {
    @include breakpoint($small-breakpoint) {
      padding: 15px;
    }
  }

  &:last-child {
    margin-bottom: -50px;
  }

  &:nth-child(even) {
    align-self: flex-end;

    .work-item-accent {
      right: -30px;
      left: auto;
    }

    .work-item {
      flex-direction: row-reverse;

      &:after {
        left: 0;
        right: auto;
      }
    }

    .button {
      left: 50px;
    }
  }
}

.work-item-image {
  position: relative;
  overflow: hidden;
  max-height: 460px;

  .work-item-image-inner {
    height: 550px;
  }

  @include breakpoint($small-breakpoint) {
    width: 100%;
    max-height: 300px;
  }
}

.work-note {
  font-family: $league-gothic;
  text-transform: uppercase;
  color: $accent-primary;
  letter-spacing: 0.05em;
}

.work-details {
  background-color: $background-primary;
  padding: 60px;
  text-align: left;
  flex-shrink: 2;
  position: relative;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    padding: 0;
  }
}

.work-text {
  color: $text-secondary;
}

.work-company {
  font-family: $league-gothic;
  text-transform: uppercase;
  font-size: $font-size-tertiary;
  line-height: $font-size-tertiary;
  color: $text-primary;
}
