.hero {
  position: relative;
  overflow: hidden;
  min-height: 550px;
  height: 100vh;
}

.default {
  composes: hero;
  max-height: 700px;
}

.primary {
  composes: hero;
  max-height: 1200px;
}

.secondary {
  composes: hero;
  max-height: 700px;
  margin: 0 auto;
  background: linear-gradient(90deg, #EDEEF0 50%, #21262D 50%);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title-word {
  line-height: 1.15;
  display: inline-block;
  margin-right: 1rem;
}

.animated-character-wrapper {
  overflow: hidden;
  display: inline-block;
}
