@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.side-by-side {
  background: $background-primary;
  padding: 0 60px 60px;
  position: relative;
  z-index: 500;

  @include breakpoint($small-breakpoint) {
    padding: 0 15px 15px;
  }
}

.side-by-side-container {
  max-width: 1150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;


  @include breakpoint($small-breakpoint) {
    flex-direction: column;
  }
}
