@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';
@import '../../../stylesheets/animations';

.side-by-side {
  background: $background-primary;
  padding: 0 60px 80px;
  position: relative;
  z-index: 500;
  display: block;

  @include breakpoint($small-breakpoint) {
    padding: 0 15px 60px;
  }
}

.side-by-side-container {
  max-width: 1150px;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: stretch;
  height: 100%;
  align-content: stretch;


  @include breakpoint($small-breakpoint) {
    display: block;
  }
}
