@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.slick-slider {
  z-index: 5000;
}

.slick-active {
  // transform: translateZ(0);
}

.slick-slider {
  margin-bottom: 0;
}

.slick-slide{
  background-color: $background-secondary;
  position: relative;
  transition: all 600ms ease-in-out;
  border-radius: 0px;
  will-change: transform;

  img {
    will-change: filter;
    opacity: 0.4;
    transition: all 600ms ease-in-out;
    filter: grayscale(100%);
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 600ms ease-in-out;
    background-image: linear-gradient(0deg, rgba($background-secondary, 0.6), transparent);
  }

  &.slick-center:before {
    opacity: 1;
  }

  &.slick-center {
    transform: scale(1.15);
    z-index: 10000;

    @include breakpoint($small-breakpoint) {
      transform: none;
    }

    img {
      opacity: 1;
      filter: grayscale(0%);
    }
  }
}

.slick-list {
  overflow: visible;
  transform: translateZ(0);
}

.slick-arrow {
  z-index: 100;
}

.slick-prev {
  left: 24%;
  height: 35px;
  width: 35px;
  z-index: 100000;
  border: solid 2px #FFF;
  border-radius: 100%;

  @include breakpoint($small-breakpoint) {
    left: 5%;
  }

  &:before {
    background-image: url('../../../images/left-arrow.svg');
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: -2px;
    margin: auto;
    bottom: 0;
    right: 0;
    content: '';
  }
}
.slick-next {
  right: 24%;
  height: 35px;
  width: 35px;
  z-index: 100000;
  border: solid 2px #FFF;
  border-radius: 100%;

  @include breakpoint($small-breakpoint) {
    right: 5%;
  }

  &:before {
    background-image: url('../../../images/right-arrow.svg');
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: -2px;
    content: '';
  }
}

.slider-details {
  position: absolute;
  padding: 10px 20px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .slick-center & {
    h2 {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      transition-delay: 300ms;
    }
  }

  h2 {
    opacity: 0;
    transform: translateY(150%);
    will-change: transform;
    transition: all 700ms cubic-bezier(0.18, 0.79, 0.37, 0.9);
    margin: 0 auto;
    text-align: center;
    color: #FFF;
  }

  h2 {
    margin-bottom: 7px;
  }
}
