.step-section {
  padding-left: 60px;
  position: relative;
  clear: both;
  height: 50%;

  img {
    width: auto;
  }

  p {
    margin-bottom: 30px;
  }
}


.first-step-section {
  margin-bottom: 60px;
}

.second-step-section {
  margin-top: 60px;
}

.first-step-image-one {
  position: absolute;
  top: 0px;
  left: 60px;
}

.first-step-image-two {
  position: absolute;
  top: 100px;
  float: left;
  right: 0px;
}

.second-step-image-one {
  position: absolute;
  bottom: 0px;
  left: 150px;
}

.second-step-image-two {
  position: absolute;
  bottom: 100px;
  float: left;
  left: 50px;
}

.second-step-section {
  .step-text {
    margin-left: 500px;
    margin-top: 100px;
  }
}

.step-text {
  max-width: 425px;
  width: 100%;
  float: left;
  margin-top: 300px;
  text-align: left;
}
