@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.section-micah {
  background-image: radial-gradient(circle closest-corner at 80% 50%, rgba($background-secondary, 0.4) 30%, rgba($background-secondary, 0.9)),
                    url('./micah_bw.jpg');
  background-position: center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  padding: 225px 20px 300px;
  overflow: hidden;

  @include breakpoint($small-breakpoint) {
    background-image: linear-gradient(rgba($background-secondary, 0.8), rgba($background-secondary, 0.8)),
                      url('./micah_bw.jpg');
    background-position: 60%;
  }

  h1 {
    animation: home-fade-in 1s cubic-bezier(0, 1, 0.58, 1) 0.5s backwards;
  }

  p {
    color: $text-tertiary;
  }
}

.section-micah-container {
  max-width: 1000px;
  width: 100%;
  position: relative;
  margin: 0 auto;

  p {
    max-width: 450px;
  }
}

.video-play-button {
  display: none;
  margin-top: 30px;

  @include breakpoint($small-breakpoint) {
    display: block;
  }
}

.video-play-icon {
  height: 100px;
  background-color: rgba($background-tertiary, 0.4);
  cursor: pointer;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  border: 2px solid #FFF;
  bottom: 10px;
  right: 0;
  @include transition-short;

  @include breakpoint($small-breakpoint) {
    display: none;
  }

  &:hover {
    border: 2px solid $accent-primary;
    transform: scale(1.075, 1.075);

    &:before {
      border: 2px solid $accent-primary;
    }
  }

  &:active {
    transform: scale(1.15, 1.15);
  }

  &:after {
    content: '';
    @include absolute-all-center;
    left: 5px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid $accent-primary;
  }

  &:before {
    animation: pulse 2s infinite;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border: 2px solid #FFF;
    border-radius: 50%;
  }
}
