@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

@keyframes button-arrow-swipe {
  0% {
    transform: translateX(0);
     animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(50px);
    animation-timing-function: step-start;
  }

  51% {
    transform: translateX(-50px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px);
  }
}

.button {
  color: #FFF;
  cursor: pointer;
  font-size: 23px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  z-index: 100;

  &:hover, &:active {
    img {
      animation: button-arrow-swipe 350ms;
    }
  }
}

.button__content {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.button__icon-wrapper {
  height: 60px;
  width: 60px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border-left: solid 1px lighten($accent-primary, 15%);
  overflow: hidden;

  img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 16px;
    width: 16px;
  }
}

.button {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;
  height: 60px;
}

.button--white {
  background-color: #FFF;

  &:hover,
  &:focus,
  &:active {
    color: $text-primary;
  }

  a {
    color: $text-primary;
  }

  &:before {
    background-color: darken(#FFF, 6%);
  }
}

.button--red {
  background-color: $accent-primary;
  @include transition;

  &:hover,
  &:focus,
  &:active {
    color: #FFF;
    background-color: darken($accent-primary, 10%);
  }

  a {
    color: #FFF;
  }
}

.link {
  color: $text-secondary;
  position: relative;
  display: inline-block;
  font-family: $roboto-slab;
  z-index: 1;
  @include transition;
  padding: 10px 10px;

  &:after {
    content:'';
    height: 4px;
    background-color: $accent-primary;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition;
  }

  &:hover {
    color: $text-primary;

    &:after {
      transform: scaleX(1.2);
    }
  }
}
