@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.button {
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  padding: 14px 35px;
  font-size: 26px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 100;
}

.button-container {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 20px;

  &:hover:before {
    transform: translateX(0);
  }

  &:before {
    content: '';
    border-radius: 3px;
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    transform: translateX(-100%);
    top: 0;
    z-index: 5;
    @include transition;
  }
}

.button-container--white {
  background-color: #FFF;

  &:hover,
  &:focus,
  &:active {
    color: $text-primary;
  }

  a {
    color: $text-primary;
  }

  &:before {
    background-color: darken(#FFF, 6%);
  }
}

.button-container--red {
  background-color: $accent-primary;

  &:hover,
  &:focus,
  &:active {
    color: #FFF;
  }

  a {
    color: #FFF;
  }

  &:before {
    background-color: darken($accent-primary, 10%);
  }
}

.link {
  color: $text-secondary;
  position: relative;
  display: inline-block;
  font-family: $roboto-slab;
  z-index: 1;
  @include transition;
  padding: 10px 10px;

  &:after {
    content:'';
    height: 4px;
    background-color: $accent-primary;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    @include transition;
  }

  &:hover {
    color: $text-primary;

    &:after {
      transform: scaleX(1.2);
    }
  }
}
