@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.coworking {
  padding: 60px;
  display: flex;

  @include breakpoint($small-breakpoint) {
    flex-direction: column;
    padding: 60px 20px;
  }

  .button-container {
    margin-top: 20px;
  }
}

.coworking-image {
  min-width: 400px;
  height: 400px;
  margin-right: 60px;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    min-width: 0;
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.coworking-text {

}
