.get-involved-base {
  h1 {
    margin-bottom: 30px;
  }

  .button-container {
    margin-top: 30px;
  }
}

.get-involved-base-content {
  margin-top: -100px;
  z-index: 200;
  padding-bottom: 80px;
}

.get-involved-base-hero {
  max-height: 500px;
}
