@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';
@import '../../../stylesheets/animations';

@keyframes hero-title-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.hero-title-placeholder {
  color: transparent !important;
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-size: 6px, auto, cover;
  z-index: 50;
  min-height: 100%;

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

.hero--short {
  height: 90vh;
}

.hero__overlay {
  z-index: 10000000000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 6px, auto;
}
.hero__fade-overlay-container {
  position: absolute;
  z-index: 80;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  will-change: opacity;
}

.hero__fade-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  will-change: opacity;
  background-color: $background-secondary;
}

.hero__image-container {
  z-index: 90;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.hero__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

img.hero__image {
  animation: scale-down 13s linear;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;

  video {
    width: 100%;
    height: 100%;
    background-size: contain;
    object-fit: cover;
    pointer-events: none;
    font-family: 'object-fit: contain;';
  }
}

.vjs-loading-spinner {
  display: none !important;
}

.hero__content-container {
  z-index: 110;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero__image-preload {
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.hero__page-loader {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100000;
  background-color: $background-secondary;
  animation: fade-out 600ms ease-in-out;
  animation-fill-mode: forwards;
}

.hero__content {
  position: relative;
  z-index: 110;
  width: 100%;
  max-width: 1150px;
  padding: 0 60px;
  z-index: 10000000000;
  text-align: left;

  @include breakpoint($small-breakpoint) {
    padding: 0 30px;
  }

  .hero-title-one,
  .hero-title-two {
    z-index: 10000000000;
    position: relative;
    overflow: hidden;
    display: block;
  }

  .binary-text-outer {
    overflow: hidden;
  }

  h1:last-of-type {
    margin-bottom: 30px;
  }

  h1 {
    animation: slide-up-fade-in 800ms cubic-bezier(0.52, 0.01, 0.16, 1);
    animation-fill-mode: backwards;
    animation-delay: 600ms;
  }

  .divider {
    margin: 0px 0 30px;
    animation: divider-width-grow 800ms cubic-bezier(0.52, 0.01, 0.16, 1);
    animation-fill-mode: backwards;
    animation-delay: 900ms;
  }

  p {
    animation: slide-up-fade-in 800ms cubic-bezier(0.52, 0.01, 0.16, 1);
    animation-fill-mode: backwards;
    animation-delay: 1200ms;
    color: $text-tertiary;
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
  }

  a {
    animation: slide-up-fade-in 800ms cubic-bezier(0.52, 0.01, 0.16, 1);
    animation-fill-mode: backwards;
    animation-delay: 1200ms;
  }
}

.hero__content--centered {
  text-align: center;
  margin: 0 auto;

  p {
    margin: 0 auto;
  }
}

.hero__image-wrapper {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.loaded {
    animation: fade-in 600ms ease-in-out;
    animation-fill-mode: forwards;;
  }
}
