@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.home-text {
  width: 50%;
  padding: 110px 60px 60px;
  margin-top: -27px;

  @include breakpoint($small-breakpoint) {
    width: 100%;
  }
}

.home-photo {
  width: 50% !important;
  margin-top: -140px;
  height: 500px !important;

  @include breakpoint($small-breakpoint) {
    width: 100% !important;
    margin-top: 0;
    height: 250px !important;
  }

  div {
    height: 100%;
  }

  .one {
    background-image: url("./coding-camp.png");
    background-size: cover;
    background-position: center;
  }

  .two {
    background-image: url('https://resilientcoders.s3.amazonaws.com/i/julio.jpg');
    background-size: cover;
    background-position: center;
  }

  .three {
    background-image: url('https://resilientcoders.s3.amazonaws.com/i/bootcamp2016a/willdandevin1200.jpg');
    background-size: cover;
    background-position: center;
  }

  .four {
    background-image: url('https://pbs.twimg.com/media/CknuiH8UoAAC1FU.jpg');
    background-size: cover;
    background-position: center;
  }

  .slick-dots {
    text-align: left;
    background-color: $background-secondary;
    border-top: solid 5px #ed1b24;
    bottom: -69px;
    padding: 20px;
    width: auto;
    float: left;

    @include breakpoint($small-breakpoint) {
      float: none;
      width: 100%;
      display: flex !important;
      bottom: -65px;
    }
  }
}

.call-to-action-container, .email-form-short {
  @include partial-width;
  z-index: 1000;
}

.call-to-action {
  margin-top: -110px;
}

.program {
  position: relative;
}

.tiered-program-background {
  background-color: $background-primary;
  padding-bottom: 60px;
  position: relative;
}

.tiered-program {
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 60px 20px;

  .divider {
    margin: 30px auto;
  }

  h1 {
    color: $text-primary;
    max-width: 850px;
    margin: 0 auto 20px;
    width: 100%;
  }

  p {
    color: $text-secondary;
    margin: 0 auto;
    width: 100%;
  }
}
