@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';


.subscribe-section {
  padding-bottom: 130px;

  .general-subscribe-form {
    margin-top: 130px;
  }
}

.get-involved-cta {
  @include background-color-with-dots($background-secondary);

  p {
    color: #FFF;
  }
}

.skyline {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  user-select: none;

  .foreground {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    user-select: none;

    img {
      @include breakpoint($small-breakpoint) {
        width: 400%;
      }
    }
  }

  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    user-select: none;
  }
}

.slick-slider {
  z-index: 5000;
}

.slick-active {
  transform: translateZ(0);
}

.slick-slide{
  background-color: $background-secondary;
  position: relative;
  transition: all 600ms ease-in-out;
  border-radius: 0px;
  will-change: transform;
  backface-visibility: hidden;

  img {
    opacity: 0.4;
    transition: all 600ms ease-in-out;
    height: 400px;
  }

  &:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 40%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 600ms ease-in-out;
    background-image: linear-gradient(0deg, rgba($background-secondary, 0.6), transparent);
  }

  &.slick-center:before {
    opacity: 1;
  }

  &.slick-center {
    transform: scale(1.15);
    z-index: 10000;

    @include breakpoint($small-breakpoint) {
      transform: none;
    }

    img {
      opacity: 1;
    }
  }
}

.slick-list {
  overflow: visible;
  transform: translateZ(0);
}

.slick-arrow {
  z-index: 100;
}

.slick-prev {
  left: 24%;
  height: 35px;
  width: 35px;
  z-index: 100000;
  border: solid 2px #FFF;
  border-radius: 100%;

  @include breakpoint($small-breakpoint) {
    left: 5%;
  }

  &:before {
    background-image: url('../../images/left-arrow.svg');
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: -2px;
    margin: auto;
    bottom: 0;
    right: 0;
    content: '';
  }
}
.slick-next {
  right: 24%;
  height: 35px;
  width: 35px;
  z-index: 100000;
  border: solid 2px #FFF;
  border-radius: 100%;

  @include breakpoint($small-breakpoint) {
    right: 5%;
  }

  &:before {
    background-image: url('../../images/right-arrow.svg');
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    right: -2px;
    content: '';
  }
}

.slider-details {
  position: absolute;
  padding: 20px;
  bottom: 0;
  z-index: 2;

  .slick-center & {
    p, h2 {
      opacity: 1;
      transform: translateY(0);
    }

    h2 {
      transition-delay: 600ms;
    }

    p {
      transition-delay: 850ms;
    }
  }

  p, h2 {
    opacity: 0;
    transform: translateY(150%);
    transition: all 700ms cubic-bezier(0.18, 0.79, 0.37, 0.9);
    margin: 0;
    color: #FFF;
  }

  h2 {
    margin-bottom: 7px;
  }

  p {
    line-height: $font-size-secondary;
  }
}

.call-to-action-container, .email-form-short {
  @include partial-width;
  z-index: 1000;
}

.call-to-action {
  margin-top: -110px;
}

.program {
  position: relative;
}

.tiered-program-background {
  background-color: $background-primary;
  padding-bottom: 60px;
  position: relative;
}

.tiered-program-title p {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.tiered-program {
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 60px;

  @include breakpoint($small-breakpoint) {
    padding: 60px 20px;
  }

  .divider {
    margin: 30px auto;
  }

  h1 {
    color: $text-primary;
    max-width: 850px;
    margin: 0 auto 20px;
    width: 100%;
  }

  p {
    color: $text-secondary;
    margin: 0 auto;
    width: 100%;
  }
}

.coworking-contact {
  margin-top: 30px;
}
