@import '../../stylesheets/variables';

.get-involved-hero {
  max-height: 500px;
}

.get-involved-info {
  margin-bottom: 80px;
  display: flex;
  flex-direction: row !important;
}

.get-involved-info-description {
  flex-grow: 2;
  padding: 60px;
}

.get-involved-image {
  width: 350px;
  margin-top: -160px;
}
