@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.get-involved {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include breakpoint($small-breakpoint) {
    padding-top: 70px;
    height: auto;
  }
}

.get-involved-types {
  display: flex;
  flex-direction: row;
  height: 100%;

  @include breakpoint($small-breakpoint) {
    flex-direction: column;
  }
}

.get-involved-types__item {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  @include transition;
  width: auto;
  will-change: flex-basis;
  overflow: hidden;

  @include breakpoint($small-breakpoint) {
    height: 250px;
  }

  &:hover {
    flex-basis: 45%;

    @include breakpoint($small-breakpoint) {
      flex-basis: 33.3333%;
    }

    .divider {
      transform: none;
      opacity: 1;
    }

    .get-involed-types--content-helper {
      transform: none;
      opacity: 1;
    }
  }

  + .get-involved-types__item {
    border-left: solid 2px $border-primary;

    @include breakpoint($small-breakpoint) {
      border-left: 0;
      border-top: solid 2px $border-primary;
    }
  }

  p {
    color: $text-tertiary;
    max-width: 300px;
  }

  .divider {
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px auto 0;
    @include transition;
    transform: translateY(30px);
    opacity: 0;
  }
}

.get-involed-types--content-helper {
  line-height: 1;
  font-family: $league-gothic;
  color: $text-secondary;
  text-transform: uppercase;
  font-size: 30px;
  opacity: 0;
  @include transition;
  transform: translateY(-30px);

  @include breakpoint($small-breakpoint) {
    opacity: 1;
    transform: none;
  }
}

.get-involved-types--underlay {
  content: '';
  position: absolute; // instead of background-attachment
  width: 45vw;
  height: 100%;
  top: 0;
  background-size: 6px, auto, cover;
  z-index: 5;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    height: 100%;
  }
}

.get-involved-types--content {
  z-index: 10;
  position: relative;
}

.get-involved-types__item--mentor .get-involved-types--underlay  {
  background-image: url('./dot.svg'),
                    linear-gradient(rgba($background-secondary, 0.75), rgba($background-secondary, 0.75)),
                    url('./get-involved-mentor.jpg');
  background-position: right;
  right: 0;
}

.get-involved-types__item--company .get-involved-types--underlay {
  background-image: url('./dot.svg'),
                    linear-gradient(rgba($background-secondary, 0.75), rgba($background-secondary, 0.75)),
                    url('./get-involved-company.jpg');
  background-position: left;
  left: 0;
}

.get-involved-types__item--student .get-involved-types--underlay {
  background-image: url('./dot.svg'),
                    linear-gradient(rgba($background-secondary, 0.75), rgba($background-secondary, 0.75)),
                    url('./get-involved-student.jpg');
  background-position: right;
}

.get-involved-footer {
  background-color: #FFF;
  display: flex;
  padding: 20px;

  h1 {
    color: $text-primary;
  }

  .divider {
    margin: 15px 0 0 0;
  }
}

.get-involved-information {
  display: flex;

  > div {
    flex-basis: 50%;

    @include breakpoint($small-breakpoint) {
      flex-basis: 100%;
    }
  }
}

.get-involved-information__text {
  padding: 80px 60px 80px;

  @include breakpoint($small-breakpoint) {
    padding: 25px 20px;
  }
}

.get-involved-additional-content {
  margin-top: 60px;
}

.get-involved-donate {
  margin-top: -60px;
  padding: 60px;
  flex-direction: row !important;
  align-items: center;

  @include breakpoint($small-breakpoint) {
    padding: 25px 20px;
    height: auto;
  }

  @include breakpoint($small-breakpoint) {
    flex-direction: column !important;
    padding-top: 30px !important;
    margin-top: 0;
  }

  h1 {
    line-height: 1;
    margin-bottom: 30px;
  }
}

.get-involved-donate-image {
  width: 400px;

  @include breakpoint($small-breakpoint) {
    height: 100%;
  }
}

.get-involved-text-container {
  padding-left: 60px;

  @include breakpoint($small-breakpoint) {
    padding: 25px 0;
  }
}

.get-involved-donate-buttons {
  float: left;
  margin: 30px auto 15px;
  width: 100%;

  .button-container {
    @include breakpoint($small-breakpoint) {
      width: 100%;
    }
  }

  .button-container + .button-container {
    margin-left: 15px;

    @include breakpoint($small-breakpoint) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
}

.get-involved-donate-legal {
  color: $text-primary;
}
