@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.get-involved-types__item {
  &:hover {
    transform: scale(1.05);

    &:before {
      opacity: 1;
    }

    .get-involved-types__image {
      opacity: 1;
    }

    .get-involved-types__content__intro {
      transform: translateY(0);
      h3, .divider {
        opacity: 0;
      }
    }

    .get-involved-types__content__info {
      transform: translateY(0);
    }
  }

  .get-involved-types__content__intro {
    @include transition;
    transform: translateY(calc(100% + 30px));

    h3, .divider {
      opacity: 1;
      @include transition;
    }

    .divider {
      margin: 10px 0;
    }
  }

  .get-involved-types__content__info {
    transform: translateY(calc(100% + 30px));
    @include transition;

    p {
      color: $text-tertiary;
    }
  }

  &:nth-of-type(2) {
    margin-right: 25px;
    margin-left: 25px;

    @include breakpoint($small-breakpoint) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  h2, h3 {
    color: #FFF;
  }

  h2 {
    font-size: $font-size-primary;
  }

  @include breakpoint($small-breakpoint) {
    flex: 0 1 auto;

    &:hover {
      transform: none;
    }

    & + .get-involved-types__item {
      margin-top: 20px;
    }

    &:before {
      opacity: 1;
    }

    .get-involved-types__image {
      opacity: 1;
    }

    .get-involved-types__content__intro {
      transform: translateY(0);

      h3, .divider {
        opacity: 0;
      }
    }

    .get-involved-types__content__info {
      transform: translateY(0);
    }
  }
}

.get-involved-types__content {
  width: 100%;
  @include transition;
  position: relative;
  z-index: 100;
}

.get-involved-types__accent {
  height: 3px;
  width: 100%;
  margin-bottom: 10px;
  background-color: $accent-primary;
}

.get-involved-types__image {
  @include transition;
  opacity: 0.7;
}
