@import '../../stylesheets/variables';

.lab-abilities {
  border-bottom: solid 5px $accent-primary;
  padding-top: 80px;
  padding-bottom: 80px;
}

.lab-description {
  margin: -90px 0 -60px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.faq {
  margin-top: 30px;

  h2 {
    color: $text-secondary;
  }

  p {
    margin-bottom: 50px;
  }
}

.faq-title {
  text-align: center;
}

.lab-end-button {
  margin: 0 auto;
  float: none;
  max-width: 250px;
  width: 100%;
}
