@import '../../stylesheets/variables';

.lab-abilities {
  border-bottom: solid 5px $accent-primary;
  padding-top: 80px;
  padding-bottom: 80px;
}

.lab-description {
  margin: -90px 0 -60px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.faq {
  margin-top: 30px;

  h2 {
    color: $text-secondary;
  }

  p {
    margin-bottom: 50px;
  }
}

.lab-faq {
  z-index: 1000;
  text-align: center;

  h1 {
    color: $text-primary;
  }

  .divider {
    margin-left: auto;
    margin-right: auto;
  }
}
