@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.headroom {
  position: fixed;
  top: 0px;
  max-width: 1150px;
  width: 100%;
  z-index: 10000 !important;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.headroom-wrapper {
  position: absolute;
  left: 0;
  right: 0;
}

.nav-logo {
  background-color: $accent-primary;
  cursor: pointer;
  display: block;
  height: 70px;
  width: 70px;
  float: left;
}

.nav-links {
  background-color: #FFF;
  cursor: pointer;
  display: flex;
  position: relative;
  margin-left: 70px;
  height: 70px;

  a {
    font-family: $roboto-slab;
    color: $text-secondary;
    display: block;
    height: 100%;
    text-transform: uppercase;
    line-height: 70px;
    font-size: 18px;
    position: relative;
    letter-spacing: 0.01em;
    width: 100%;
    z-index: 30;
  }

  li {
    text-align: center;
    width: 100%;
    position: relative;

    &:not(:last-child) {
      border-right: 1px solid $border-primary;
      border-bottom: 1px solid $border-primary;

      &:hover {
        border-bottom: 1px solid $background-secondary;
      }
    }

    &:last-child {
      background-color: $accent-primary;
      border-bottom: 1px solid $accent-primary;
      border-right: 1px solid $accent-primary;

      &:hover {
        border-bottom: 1px solid $background-secondary;
        border-right: 1px solid $background-secondary;
      }

      a {
        color: #FFF;
      }
    }

    &:hover {
      &:after {
        opacity: 1;
        height: 100%;
      }

      a {
        color: #FFF;
      }
    }

    &:after {
      background-color: $background-secondary;
      opacity: 0.15;
      position: absolute;
      cursor: pointer;
      content: '';
      height: 0%;
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 20;
      bottom: 0;
      transition: all 0.5s cubic-bezier(0, 1, 0.58, 1);
    }
  }
}

.nav-links--desktop {
  @include breakpoint($small-breakpoint) {
    display: none;
  }
}

.nav-links-mobile-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 70px;
  left: 0;
  background-color: $background-primary;
}

.mobile-navigation-enter {
  opacity: 0.01;
}

.mobile-navigation-enter.mobile-navigation-enter-active {
  opacity: 1;
  @include transition;
}

.mobile-navigation-leave {
  opacity: 1;
}

.mobile-navigation-leave.mobile-navigation-leave-active {
  opacity: 0.01;
  @include transition;
}

.nav-links--mobile {
  display: none;

  @include breakpoint($small-breakpoint) {
    display: block;
  }
}

.nav-icon {
  height: 18px !important;
  margin: auto;
  width: 30px !important;
  position: absolute !important;
  top: 0;
  right: 25px;
  bottom: 0;


  &.active {
    .line-1 {
      transform: translateY(-0.5px) translateX(0) rotate(45deg);
    }
    .line-2 {
      opacity:0;
    }
    .line-3 {
      transform: translateY(0.5px) translateX(0) rotate(-45deg);
    }
  }

  .nav-line {
    background-color: $background-tertiary;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin: 0;
    position: absolute;
    @include transition;
    width: 30px;

    &.line-1 {
      top: 0;
      transform-origin: top left;
    }

    &.line-2 {
      margin-top: -1px;
      top: 50%;
    }

    &.line-3 {
      bottom: 0;
      transform-origin: bottom left;
    }
  }
}
