@keyframes scale-up {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}

@keyframes scale-down {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4,1.4);
  }
}

@keyframes pulse-large {
  0% {
    opacity: 1;
    transform: scale(1,1);
  }
  100% {
    opacity: 0;
    transform: scale(3,3);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-fade-in {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    float: left;
    width: 0;
    animation-timing-function: cubic-bezier(0, 0, 0.15, 1);
  }
  30% {
    float: left;
    width: 100%;
  }
  31% {
    float: right;
    animation-timing-function: cubic-bezier(1, 0, 0, 0);
  }
  69% {
    float: right;
    width: 0%;
  }

  70% {
    float: left;
    animation-timing-function: cubic-bezier(0, 0, 0.15, 1);
  }
  100% {
    float: left;
    width: 100%;
  }
}

@keyframes divider-width-grow {
  0% {
    width: 0;
  }

  100% {
    width: 75px;
  }
}
