.section-tertiary {
  text-align: center;
  color: #FFF;
  padding: 45px 0;
  border-top: solid 4px $accent-primary;
  overflow: hidden;

  &.section-tertiary__alert {
    background-color: #FFF;

    h1, h2, h3 {
      color: $text-primary;
    }

    p {
      color: $text-secondary;
    }
  }
}
