// Fonts
// ----------------------------------------------------------------------
$league-gothic: 'league-gothic','league gothic', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;


// Font Weights
// ----------------------------------------------------------------------
$weight-normal: 400;

$primary-line-height: 27px;
$secondary-line-height: 27px;

$font-size-primary: 64px;
$font-size-secondary: 16px;
$font-size-tertiary: 45px;
$font-size-4: 30px;

// Colors
// ----------------------------------------------------------------------
$text-primary: #21262d;
$text-secondary: #4f5a60;
$text-tertiary: #CCC;

$background-primary: #EDEEF0;
$background-secondary: #21262D;
$background-tertiary: #EAEEF5;

$accent-primary: #ED1B24;
$accent-secondary: #C51017;

$border-primary: #DDD;


// Breakpoints
// ----------------------------------------------------------------------
$xsmall-breakpoint: 450px;
$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;
