// Fonts
// ----------------------------------------------------------------------
$league-gothic: 'league-gothic', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;


// Font Weights
// ----------------------------------------------------------------------
$weight-normal: 400;

$primary-line-height: 29px;
$secondary-line-height: 1.95;

$font-size-primary: 70px;
$font-size-secondary: 17px;
$font-size-tertiary: 45px;
$font-size-4: 24px;

// Colors
// ----------------------------------------------------------------------
$text-primary: #2A2C2F;
$text-secondary: #5E6264;
$text-tertiary: #CCC;

$background-primary: #edeef0;
$background-secondary: #2A2C2F;
$background-tertiary: #666;

$accent-primary: #ED1B24;

$border-primary: #DDD;


// Breakpoints
// ----------------------------------------------------------------------
$xsmall-breakpoint: 450px;
$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;
