// Fonts
// ----------------------------------------------------------------------
$league-gothic: 'league-gothic', sans-serif;
$roboto-slab: 'Roboto Slab', sans-serif;


// Font Weights
// ----------------------------------------------------------------------
$weight-normal: 400;

$primary-line-height: 29px;
$secondary-line-height: 1.75;

$font-size-primary: 70px;
$font-size-secondary: 18px;
$font-size-tertiary: 35px;

// Colors
// ----------------------------------------------------------------------
$text-primary: #333;
$text-secondary: #666;
$text-tertiary: #CCC;

$background-primary: #EFEFEF;
$background-secondary: #333;
$background-tertiary: #666;

$accent-primary: #ED1B24;

$border-primary: #DDD;


// Breakpoints
// ----------------------------------------------------------------------
$xsmall-breakpoint: 450px;
$small-breakpoint: 768px;
$medium-breakpoint: 992px;
$large-breakpoint: 1200px;
