@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.bootcamp-details .side-by-side-container {
  align-items: flex-end;
}

.bootcamp-details__text {
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -70px;
}

.bootcamp-details__apply-text {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bootcamp-details__button {
  margin-top: 30px;
}

.bootcamp-apply {
  padding-bottom: 60px;
}

.bootcamp-apply__student {
  padding-top: 100px;
  padding-bottom: 190px;
  margin-top: -100px;

  @include breakpoint($small-breakpoint) {
    padding: 60px 20px;
  }

  .button {
    margin-top: 20px;
  }
}

.bootcamp-apply__mentor {
  padding-top: 60px;
  padding-bottom: 60px;

  .button {
    margin-top: 20px;
  }
}

.bootcamp-timeline {
  display: flex;
  height: 2000px;
  flex-direction: column;
}

.bootcamp-timeline-section-outer {
  padding-top: 40px;

  @include breakpoint($small-breakpoint) {
    padding: 0;
  }
}

.bootcamp-timeline-section-inner {
  margin-top: 40px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  text-align: center;

  @include breakpoint($small-breakpoint) {
    margin: 0;
  }
}

.bootcamp-title {
  h1 {
    color: #FFF !important;
  }

  p {
    color: #CCC !important;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
  }
}
.bootcamp-join {
  padding: 0 20px;
  color: #FFF;
  background-image: linear-gradient(rgba($background-secondary, 0.75), rgba($background-secondary, 0.75)),
                    url('./want-in.jpg');

  background-size: auto, cover;
}

.bootcamp-join-text {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 180px 0;

  p {
    color: $text-tertiary;
  }
}
