@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.alumni {
  height: 125vh;
  min-height: 800px;
  position: relative;

  p {
    color: $text-tertiary;
  }

  .alumni-photos,
  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slick-dots {
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 268px;
  }

  .slick-prev,
  .slick-next {
    background-color: $background-secondary;
    height: 70px;
    width: 110px;
    color: #FFF;
    @include transition;

    @include breakpoint($small-breakpoint) {
      display: none !important;
    }

    &:hover {
      width: 140px;
    }
  }

  .slick-prev {
    left: 0;

    &:before {
      content: '<';
      right: 20px;
      top: 0;
      position: absolute;
      font-family: none;
      line-height: 70px;
    }
  }

  .slick-next {
    right: 0;

    &:before {
      content: '>';
      text-align: left;
      left: 20px;
      top: 0;
      position: absolute;
      font-family: none;
      line-height: 70px;
    }
  }
}
