@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.write-off {
  background-color: $background-primary;
  display: flex;

  @include breakpoint($small-breakpoint) {
    flex-direction: column;
  }
}

.write-off-image {
  height: 700px;
  padding: 15px;
  text-align: center;
  flex: 1 1 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;

  @include breakpoint($small-breakpoint) {
    padding: 0;
    flex: 1 1 100%;
    width: 100%;
    max-height: 400px;
  }

  h2 {
    color: $text-tertiary;
    font-size: 30px;
  }
}

.write-off-image-left {
  background-image: url('../panel-left.png');
  margin-right: 60px;
}

.write-off-image-right {
  background-image: url('../panel-right.png');
}
