@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.video-close {
  cursor: pointer;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  border-radius: 50%;
  @include transition;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #FFF;
  }

  &:after,
  &:before {
    content: '';
    width: 35px;
    height: 2px;
    background: #FFF;
    @include absolute-all-center;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }
}

.fullscreen-video {
  height: 100%;
  width: 100%;
}

.fullscreen-video {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10000;
}
.video-js {
  font-family: 'Roboto Slab';
  height: 100%;
  width: 100%;

  .vjs-big-play-button {
    display: none;
  }

  .vjs-play-progress {
    background: $accent-primary;

    &:after {
      font-family: 'Roboto Slab';
    }
  }

  .vjs-load-progress {
    background: #666;
  }

  .vjs-slider {
    background: #444;
  }

  .vjs-control-bar {
    background: #333;
  }
}

.video-enter {
  opacity: 0.01;
}

.video-enter.video-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.video-leave {
  opacity: 1;
}

.video-leave.video-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
