@import '../../../stylesheets/variables';

.get-involved-emphasis {
  margin-top: 40px;
}

.get-involved-information-mentor-image {
  background-image: url('https://resilientcoders.s3.amazonaws.com/i/bootcamp2016a/willdandevin1200.jpg');
  background-size: cover;
}

.get-involved-mentor-content {
  margin-top: 60px;
}
