@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

p + .get-involved-emphasis {
  margin-top: 40px;
}

.get-involved-information-mentor-image {
  background-image: url('community.jpg');
  background-size: cover;

  @include breakpoint($small-breakpoint) {
    display: none;
  }
}

.get-involved-mentor-content {
  margin-top: 60px;
}
