@import '../../../../../stylesheets/mixins';

.step-progress-bar {
  position: absolute;
  left: 35px;
  top: 0;
  bottom: 16px;
  display: flex;
  flex-direction: column;
}

.step-progress-bar__item {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.3333% + 2px);

  &:not(:first-child) {
    flex: 0 0 calc(33.3333% - 2px);
  }

  .connecting-line-progress {
    transform: translateY(-100%);
    @include transition;
  }

  .active .connecting-line-progress {
    transform: translateY(0%);
  }

  .dot-with-circle {
    transition-delay: 600ms;
    animation-delay: 600ms;
  }
}
