@import '../../stylesheets/mixins';
@import '../../stylesheets/variables';

.footer-container-upper {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;

  @include breakpoint($small-breakpoint) {
    flex-direction: column;
  }
}

.footer-container-info {
  @include breakpoint($small-breakpoint) {
    margin-top: 20px;
  }

  a {
    color: #FFF;
  }
}

.footer-container-lower {
  padding-top: 30px;
  border-top: solid 1px $text-secondary;
  display: flex;
  justify-content: space-between;

  @include breakpoint($xsmall-breakpoint) {
    flex-flow: column;
  }

  .social-container {
    display: flex;

    img {
      width: 18px;
      margin-right: 16px;
      height: 18px;
    }
  }
}

.buttercms-attribution {
  img {
    max-width: 170px;
  }
}

.footer-container-links {
  a {
    display: inline-block;
    width: 100%;
    padding: 6px 0;
    @include transition-short;

    &:hover {
      color: #FFF;
    }
  }
}

footer {
  padding: 40px 0;
  margin: 0 25px;

  @include breakpoint($small-breakpoint) {
    padding: 20px 0;
  }

  h3 {
    margin: 0 0 15px;
    color: $text-secondary;

    @include breakpoint($small-breakpoint) {
      margin-top: 20px;
    }
  }

  .text-white span {
    cursor:auto;
    color: #fff;
    
  }
  a, p {
    // display: block;
    font-family: $roboto-slab;
    max-width: 600px;
    font-size: 14px;
    color: $text-secondary;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
