@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.steps {
  display: flex;
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint($small-breakpoint) {
    padding: 0;
  }
}

.step-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}


.home-progress-bar {
  width: 28px;
  position: absolute;
  left: 30px;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;

  @include breakpoint($small-breakpoint) {
    left: -13px;
    padding-bottom: 60px;
  }

  .first-line {
    flex: 0 0 27%;

    @include breakpoint($small-breakpoint) {
      flex: 0 0 29.5%;
    }
  }

  .second-line {
    flex: 0 0 31.25%;

    @include breakpoint($small-breakpoint) {
      flex: 0 0 31.7%;
    }
  }

  .dot-with-circle {
    margin: 0 auto;
  }
}
