@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';
@import '../../../stylesheets/animations';

.steps-controls {
  position: absolute;
  left: 80%;
  top: 0;
  background: $background-secondary;
  width: 120px;
  z-index: 400;

  @include breakpoint($small-breakpoint) {
    left: auto;
    right: 0;
    top: 270px;
  }

  .steps-controls__prev,
  .steps-controls__next {
    background-color: $background-secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 0;
    outline: none;
    border-left: solid 1px $background-primary;

    &:not(.disabled):hover {
      background: $accent-primary;
    }

    img {
      width: 15px;
      height: 15px;
      display: inline-block;
    }

    &.disabled img {
      opacity: 0.15;
    }
  }

  .steps-controls__next {
    border-left: solid 1px $background-primary;
  }

  .steps-controls__prev {
    @include breakpoint($small-breakpoint) {
      border-left: none;
    }
  }
}

// IMAGE CONTAINER

//  Right

.step-content__image-right-animation-enter {
  .step-content__image-outer {
    transform: translateX(-100%);
    transform-origin: left;
  }
  .step-content__image-inner {
    transform: translateX(100%);
    transform-origin: right;
  }
}

.step-content__image-right-animation-enter.step-content__image-right-animation-enter-active {
  .step-content__image-outer {
    transform: translateX(0%);
  }
  .step-content__image-inner {
    transform: translateX(0%);
  }
  .step-content__image-outer,
  .step-content__image-inner {
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.step-content__image-right-animation-leave {
  .step-content__image-outer {
    transform: translateX(0%);
  }
  .step-content__image-inner {
    transform: translateX(0%);
  }
}

.step-content__image-right-animation-leave.step-content__image-right-animation-leave-active {
  .step-content__image-outer {
    transform: translateX(100%);
  }
  .step-content__image-inner {
    transform: translateX(-100%);
  }
  .step-content__image-outer,
  .step-content__image-inner {
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

// Left

.step-content__image-left-animation-enter {
  .step-content__image-outer {
    transform: translateX(100%);
  }
  .step-content__image-inner {
    transform: translateX(-100%);
  }
  .step-content__image-outer,
  .step-content__image-inner {
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.step-content__image-left-animation-enter.step-content__image-left-animation-enter-active {
  .step-content__image-outer {
    transform: translateX(0%);
  }
  .step-content__image-inner {
    transform: translateX(0%);
  }
  .step-content__image-outer,
  .step-content__image-inner {
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.step-content__image-left-animation-leave {
  .step-content__image-outer {
    transform: translateX(0%);
  }
  .step-content__image-inner {
    transform: translateX(0%);
  }
}

.step-content__image-left-animation-leave.step-content__image-left-animation-leave-active {
  .step-content__image-outer {
    transform: translateX(-100%);
  }
  .step-content__image-inner {
    transform: translateX(100%);
  }
  .step-content__image-outer,
  .step-content__image-inner {
    transition: transform 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

// Animation for text box

// RIGHT

.step-content__text-right-animation-enter {
  h2, p, .button {
    transform: translateX(-550px);
    opacity: 0.01;
  }
}

.step-content__text-right-animation-enter.step-content__text-right-animation-enter-active {
  h2, p, .button {
    transform: translateX(0);
    opacity: 1;
    transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.step-content__text-right-animation-leave {
  h2, p, .button {
    transform: translateX(0);
    opacity: 1;
  }
}

.step-content__text-right-animation-leave.step-content__text-right-animation-leave-active {
  h2, p, .button {
    transform: translateX(550px);
    opacity: 0.01;
    transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}


// LEFT

.step-content__text-left-animation-enter {
  h2, p, .button {
    transform: translateX(550px);
    opacity: 0.01;
  }
}

.step-content__text-left-animation-enter.step-content__text-left-animation-enter-active {
  h2, p, .button {
    transform: translateX(0);
    opacity: 1;
    transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}

.step-content__text-left-animation-leave {
  h2, p, .button {
    transform: translateX(0);
    opacity: 1;
  }
}

.step-content__text-left-animation-leave.step-content__text-left-animation-leave-active {
  h2, p, .button {
    transform: translateX(-550px);
    opacity: 0.01;
    transition: all 1000ms cubic-bezier(0.7, 0, 0.3, 1);
  }
}


@keyframes slow-zoom-out {
  from {
    transform: scale(1.15, 1.15);
  }
  to {
    transform: scale(1, 1);
  }
}

.step-content__background {
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;

  &:after {
    position: absolute;
    content: '';
    background-color: $background-primary;
    height: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}

.step-content__image-outer {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.step-content__image-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.step-content__image-container {
  position: absolute;
  left: 0;
  width: 80%;
  height: 500px;
  transform: translateZ(0);

  @include breakpoint($small-breakpoint) {
    width: 100%;
    position: relative;
    height: 300px;
  }
}

.step-content__image-overlay {
  background-image: linear-gradient(90deg, rgba($background-secondary, 0.85) 0%, transparent 55%);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.step-content__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-repeat: no-repeat;
  background-size: cover;
}

.step-content__text-inner {
  position: absolute;
  top: 60px;
  right: 60px;
  bottom: 60px;
  left: 60px;

  @include breakpoint($small-breakpoint) {
    top: 60px;
    right: 30px;
    bottom: 60px;
    left: 30px;
  }
}

.step-content__text {
  margin: 60px 0;
  max-width: 550px;
  height: 500px;
  width: 550px;
  float: right;
  background-color: #FFF;
  position: relative;
  z-index: 100;
  overflow: hidden;
  transform: translateZ(0);
  @include transition;

  @include breakpoint($small-breakpoint) {
    width: 100%;
    margin-top: 0;
  }
}
