@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.steps {
  display: flex;
  margin-top: 60px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;

  @include breakpoint($small-breakpoint) {
    padding: 0;
  }
}

.step-content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.connecting-line-horizontal {
  width: calc(100% + 54px) !important;
  margin: 50px -27px;
  position: relative;

  @include breakpoint($small-breakpoint) {
    display: none;
  }
}

.step-tracker {
  width: 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: -1;

  &.left {
    left: 40px;
    top: 0px;

    @include breakpoint($small-breakpoint) {
      left: -8px;
    }
  }

  &.right {
    right: 40px;
    bottom: 0px;

    @include breakpoint($small-breakpoint) {
      right: auto;
      left: -8px;
    }
  }
}

.connecting-line {
  flex-grow: 2;
  margin: 0 auto;
  background-color: $background-primary;

  &.first {
    flex: 0 0 570px;

    @include breakpoint($small-breakpoint) {
      flex: 0 0 617px;
    }
  }

  &.second {
    flex: 0 0 550px;

    @include breakpoint($small-breakpoint) {
      flex: 0 0 735px;
    }
  }

  &.third {
    flex: 0 0 100px;

    @include breakpoint($small-breakpoint) {
      display: none;
    }
  }

  &.fourth {
    flex: 0 0 585px;

    @include breakpoint($small-breakpoint) {
      flex: 1 1 620px;
    }
  }
}
