@keyframes icon-swipe {
  0% {
    transform: translateX(0);
     animation-timing-function: ease-out;
  }
  50% {
    transform: translateX(50px);
    animation-timing-function: step-start;
  }

  51% {
    transform: translateX(-50px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateX(0px);
  }
}

.button {
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 23px;
  height: 60px;
  letter-spacing: 0.075em;
  margin-top: 20px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  z-index: 100;
}

.button:hover .animation-wrapper {
  animation: icon-swipe 350ms;
}

.content {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.icon-wrapper {
  height: 60px;
  width: 60px;
  background-color: #c51017;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.button-primary {
  composes: button;
  background-color: #ED1B24;
  transition: all 475ms cubic-bezier(0.52, 0.01, 0.16, 1);
}

.button-primary:hover,
.button-primary:focus,
.button-primary:active {
  background-color: #c51017;
}
