@import './stylesheets/variables.scss';
@import './stylesheets/mixins';

::selection {
  background: $accent-primary;
  color: #FFF;
}

.slider img {
  width: 100%;
}

.app {
  overflow: hidden;
}

body {
  font-family: $league-gothic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;

  min-width: 1150px;

  @include breakpoint($small-breakpoint) {
    min-width: 0;
  }
}

h1, .letter {
  color: #FFF;
  margin: 0 0 10px 0;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}

h1 {
  font-size: $font-size-primary;
  line-height: 1.1;
  white-space: pre-wrap;

  @include breakpoint($small-breakpoint) {
    line-height: 1;
    font-size: 55px;
  }
}

h2 {
  color: $text-primary;
  font-family: $league-gothic;
  margin: 0 0 10px 0;
  font-size: $font-size-tertiary;
  text-transform: uppercase;
  line-height: 1.1;
  white-space: pre-wrap;
}

h3 {
  text-transform: uppercase;
  margin: 20px 0 10px 0;
  font-size: $font-size-4;
  line-height: 1.1;
}

h4 {
  text-transform: uppercase;
  color: #4f5a60;
  font-size: 20px;
  line-height: 20px;
}

button {
  font-family: $league-gothic;
  cursor: pointer;
}

.accent-link-underline {
  position: relative;
  z-index: 1;

  &:after {
    content:'';
    height: 3px;
    background-color: rgba($background-tertiary, 0.2);
    width: 0;
    position: absolute;
    z-index: -1;
    left: -2.5%;
    right: 2.5%;
    width: 0;
    bottom: 2.5%;
    @include transition;
  }

  .accent-link-underline-trigger:hover &:after {
    width: 105%;
  }
}

p {
  font-family: $roboto-slab;
  font-size: $font-size-secondary;
  line-height: $secondary-line-height;
  color: $text-secondary;
  margin-bottom: 10px;

  a,
  span {
    color: $accent-primary;
    cursor: pointer;
  }

  a, span {
    position: relative;
    z-index: 1;

    &:after {
      content:'';
      height: 6px;
      background-color: rgba($background-tertiary, 0.2);
      width: 0;
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      @include transition;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

img {
  width: 100%;
  display: block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
};

@keyframes slideOut {
  0% {
    transform: translateY(0vh);
  }
  100% {
    transform: translateY(100vh);
  }
};

@keyframes slideIn {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0vh);
  }
};


@import './stylesheets/containers';
@import './stylesheets/design-accents';
@import './stylesheets/animations';
@import './stylesheets/utils';
