summary, details { 
    display: block; 
}
details { 
    visibility: hidden; 
}
details > summary { 
    visibility:  visible; 
}
details[open] summary.no-det:before { 
    transform: rotate(90deg); 
}
details[open] { 
    visibility: visible; 
}
details summary, details { 
    display: block; 
    font-family: Calluna, Arial, sans-serif; 
    background: #333; 
    width:24em;
    border-radius: .1em .1em 0 0; 
    font-size: 1.5rem; 
    margin: 2rem auto; 
    color: #fff; 
}
details summary { 
    cursor: pointer; 
    padding: 1em; 
    padding-left: 3rem; 
    margin-top: 0; 
}

details { 
    background: linear-gradient(#999,#ddd); 
    border-radius: .1em; 
    padding-top: 0;
    width:24em;
    color: #000; 
}

details summary::before { 
    content:"►"; 
    font-size: 1em; 
    position: relative; 
    left: -1em; 
    transition: .3s linear; 
}
details[open] summary::before { 
    content:"▼"; 
    font-size: 1em; 
    position: relative; 
    left: -1em; 
    transition: .3s linear;  
    color: red; 
}
summary:hover { 
    cursor: pointer; 
}
details[open] { 
    padding-bottom: 1rem; 
}
details.no-details { 
    max-height: 3em; 
    overflow: hidden;  
    transition: 1s max-height ease-in-out; 
}
details.no-details[open] { 
    max-height: 20em; 
    padding-bottom: 1em; 
}
details a { 
    display: block; 
}
summary:focus {
    outline:yellow solid 2px;
}
details summary::-webkit-details-marker { 
    display:none; 
}