@import '../../../stylesheets/variables';
@import '../../../stylesheets/mixins';

.work {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.offset-container {
  position: relative;
  z-index: 1000;
  margin-top: -100px !important;
  margin-bottom: -200px !important;
  text-align: center;
  padding: 60px 0 !important;

  h1 {
    color: $text-primary;
  }
}

.work-background-container {
  background-color: #FFF;
}

// This neesd to be refactored into a reusable container class
.work-items-container {
  width: 1150px;
  max-width: 100%;
  margin-left: auto;
  padding: 100px 0;
  margin-right: auto;

  @include breakpoint($small-breakpoint) {
    padding: 20px 0;
  }
}
