.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFF;
  border-radius: 3px;
}

.submit-button {
  composes: button-primary from '../../UILibrary/button/_core/ButtonBase.css';
  display: block;
  width: 100%;
  margin-top: 0;
  /*padding: 30px 60px;*/
  /*height: auto;*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
