@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.email-form {
  h1 {
    color: #FFF !important;
    margin-bottom: 20px !important;
  }

  p {
    color: $text-tertiary !important;
    max-width: 800px;
    margin: 0 auto;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
  }

  label {
    font-family: $roboto-slab;
    position: absolute;
    top: 5px;
    font-size: 13px;
    left: 20px;
    opacity: 0;
    color: lighten($background-secondary, 40%);
    @include transition;
    z-index: 100;
    visibility: hidden;
    background-color: $background-secondary;
    padding: 2px 5px;

    &.visible {
      top: -8px;
      opacity: 1;
      visibility: visible;
    }
  }

  .control {
    display: flex;
    width: 100%;
  }

  .control-input {
    width: 100%;
    position: relative;
  }

  input[type="text"] {
    border: solid 1px lighten($background-secondary, 5%);
    background: $background-secondary;
    outline: none;
    color: #FFF;
    width: 100%;
    font-size: $font-size-secondary;
    padding: 15px 25px;
    height: 100%;
    position: relative;
    font-family: $roboto-slab;
    @include transition;

    &:focus {
      border: solid 1px lighten($background-secondary, 20%);
    }
  }

  button {
    border: none;
    outline: none;
    @include transition;
    background-color: $accent-primary;

    &:hover {
      background-color: darken($accent-primary, 10%);
    }
  }
}

.email-form {
  .error {
    input[type="text"] {
      border-color: $accent-primary;

      &:focus {
        border-color: $accent-primary;
      }
    }
  }
}

.error-message {
  text-align: left;
  opacity: 0;
  position: absolute;
  left: 5px;
  bottom: -5px;
  @include transition;

  .error & {
    opacity: 1;
    padding: 8px 0;
    bottom: -35px;
    font-family: $roboto-slab;
  }
}

.email-form--long {
  .divider {
    margin-bottom: 10px;
  }

  .control {
    margin-bottom: 15px;
  }

  .control-input + .control-input {
    margin-left: 15px;
  }

  button {
    margin-top: 20px;
    min-width: 200px;
  }
}

.email-form--short {
  padding: 60px 0 !important;

  input[type="text"] {
    border-right: none;

    &:focus {
      border-right: none;
    }
  }
}
