@import '../../stylesheets/variables';
@import '../../stylesheets/mixins';

.email-form {
  h1 {
    color: #FFF !important;
    margin-bottom: 20px !important;
  }

  p {
    color: $text-secondary !important;
    max-width: 800px;
    margin: 0 auto;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }

  label {
    font-family: $roboto-slab;
    position: absolute;
    top: 5px;
    font-size: 13px;
    left: 20px;
    opacity: 0;
    color: $text-secondary;
    border-radius: 3px;
    transition: all 150ms cubic-bezier(.17,.67,.83,.67);
    z-index: 100;
    visibility: hidden;
    background-color: $background-secondary;
    padding: 4px 7px;

    &.visible {
      top: -10px;
      opacity: 1;
      visibility: visible;
    }
  }

  .control {
    display: flex;
    width: 100%;
  }

  .control-input {
    width: 100%;
    position: relative;
  }

  input[type="text"] {
    border: solid 1px darken($text-secondary, 20%);
    background: $background-secondary;
    cursor: text;
    outline: none;
    color: #FFF;
    width: 100%;
    font-size: $font-size-secondary;
    padding: 15px 25px;
    height: 100%;
    position: relative;
    font-family: $roboto-slab;
    @include transition;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $text-secondary;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $text-secondary;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $text-secondary;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $text-secondary;
    }

    &:focus {
      border: solid 1px $text-secondary;
    }
  }

  button {
    border: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    outline: none;
    @include transition;
    background-color: $accent-primary;

    &:hover {
      background-color: darken($accent-primary, 10%);
    }
  }
}

.email-form {
  .error {
    input[type="text"] {
      border-color: $accent-primary;

      &:focus {
        border-color: $accent-primary;
      }
    }
  }
}

.error-message {
  text-align: left;
  opacity: 0;
  position: absolute;
  left: 5px;
  bottom: -5px;
  @include transition;

  .error & {
    opacity: 1;
    padding: 8px 0;
    bottom: -35px;
    font-family: $roboto-slab;
  }
}

.email-form--long {
  width: 100%;
  text-align: center;

  .email-form--long__wrapper {
    display: inline-block;
    border-radius: 3px;
    background-color: $background-secondary;
    padding: 30px 80px 60px;
    text-align: center;
    margin: 0 15px;

    @include breakpoint($small-breakpoint) {
      padding-left: 20px;
      padding-right: 20px;
    }

    h2 {
      color: #FFF;
    }

    p {
      max-width: 450px;
    }
  }

  .divider {
    margin-bottom: 10px;
  }

  .control {
    margin-bottom: 25px;
  }

  .control-input + .control-input {
    margin-left: 15px;
  }

  button {
    margin-top: 20px;
    min-width: 200px;
  }

  form {
    margin-top: 25px;
  }

  input[type="text"] {
    border-radius: 2px;
  }
}

.email-form--short {
  padding: 16px;
  border-radius: 3px;
  display: inline-block;
  max-width: 600px;
  width: 100%;
  background-color: $background-secondary;

  .control {
    @include breakpoint($small-breakpoint) {
      flex-direction: column;
    }
  }

  button {
    @include breakpoint($small-breakpoint) {
      margin-top: 20px;
    }
  }

  input[type="text"] {
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    @include breakpoint($small-breakpoint) {
      border-right: solid 1px darken($text-secondary, 20%);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:focus {
      border-right: none;

      @include breakpoint($small-breakpoint) {
        border-right: solid 1px $text-secondary;
      }
    }
  }
}
