@import '../../../../stylesheets/variables';
@import '../../../../stylesheets/mixins';

.team-member {
  height: 300px;
}

.team-member__name {
  color: $text-secondary;
  transform: scale(1,1);
  @include transition;
  float: left;
  margin: 0;
  transform-origin: left;

  .is-active & {
    transform: scale(1.3,1.3);
    color: #FFF;
  }
}

.team-member__title {
  color: $accent-primary;
  @include transition;
  opacity: 0;
  visibility: hidden;
  transition-delay: 100ms;
  margin-top: 15px;
  font-size: $font-size-4;
  float: left;
  clear: both;

  .is-active & {
    opacity: 1;
    visibility: visible;
  }
}
